/*
code editor lime color - rgb(143, 225, 67)
code editor pink color - rgb(244, 127, 230)
code editor red color - rgb(234, 112, 112)
code editor blue color - rgb(112, 189, 234)

main text color - #ffffff (white)
secondary text color - code editor lime color
background color - #000000 (black)
accent and interactive feature color - #4a4a4a (lighter grey)
main color - #1c1c1c (dark grey)

h1 text size - 36px
normal text size - 12px
*/

/* == TEXT ELEMENTS == */
/* set font and color on text elements */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 10px;
    color: #ffffff;
}

/* make headings big and green */
h1 {
    font-size: 36px;
    font-weight: 600;
    color: rgb(143, 225, 67);
}

/* make the page title appear next to the logo instead of underneath */
#page-title {
    display: inline;
}

/* format subheadings */
h3 {
    font-size: 28px;
    font-weight: 600;
    padding: 10px 0px 0px 0px;
}

/* set default paragraph text size */
p {
    font-size: 18px;
}



/* == MAIN PAGE ELEMENTS == */
/* make page color all black */
body {
    background-color: #000000;
}

/* set border radius on main elements */
header {
    background-color: #1c1c1c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin: 10px 10px;
}

main {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0px 10px 10px 10px;
}

footer {
    background-color: #1c1c1c;
    border-radius: 10px;
    margin: 10px 10px 0px 10px;
    text-align: center;
}

/*aside {
    background-color: #000000;
    border-radius: 10px;
    margin: 10px 10px 0px 10px;
}*/



/* == SPECIFIC STYLING == */
/* Give elements with these classes specific styling */
/* elements with a grey background */
.grey-background {
    background-color: #1c1c1c;
    border-radius: 10px;
}

/* code editor colors, used in span tags for changing text color */
.code-editor-lime {
    color: rgb(143, 225, 67);
}

.code-editor-pink {
    color: rgb(244, 127, 230);
}

.code-editor-red {
    color: rgb(234, 112, 112);
}

.code-editor-blue {
    color: rgb(112, 189, 234);
}

.code-editor-purple {
    color: rgb(145, 71, 201);
}

.code-editor-yellow {
    color: rgb(202, 241, 93);
}



/* == NAVIGATION BAR == */
nav {
    margin: 10px 10px;
}

/* make list items in the navigation bar appear horizontally */
nav li {
    border: 2px solid #000000;
    background-color: #1c1c1c;
    list-style-type: none;
    float: left;
    width: 15%;
    padding: 10px;
}

/* format text in nav bar links differently to other text */
nav li a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

/* highlight navigation bar item when hovered over */
nav li:hover {
    background-color: #4a4a4a;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* highlight currently active navbar button */
.active {
    background-color: #4a4a4a;
}

/* position logo appropriately */
#logo {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
}



/* == EVENTS CALENDAR == */
.events-calendar {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
    border-collapse: collapse;
    width: 100%;
}

.events-calendar td, .events-calendar th {
    border: 2px solid #000000;
    color: #ffffff;
    padding: 10px;
}

/* enforce a certain width on all columns */
.events-calendar td {
    width: 14%;
}

.events-calendar tr {
    background-color: #1c1c1c;
}

/* alternate row colors */
.events-calendar tr:nth-child(even) {
    background-color: #333333;
}

/* highlight row when it is hovered over */
.events-calendar tr:hover {
    background-color: #000000;
}

/* format text in the headings */
.events-calendar th {
    background-color: #0d0d0d;
    color: rgb(143, 225, 67);
    text-align: center;
}



/* == EVENT REQUEST FORM == */
#event-request-form {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    padding: 10px;
}



/* == CONTACT FORM == */
#contact-form {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    margin-left: 10px;
    border: 2px solid rgb(143, 225, 67);
    padding: 10px;
}

/* set different (more readable) font on input fields */
input {
    background: #333333;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-label {
    color: rgb(143, 225, 67);
}

/* split the contact-us page into two columns */
#contact-left-col {
    width: 50%;
    float: left;
    padding: 10px;
    margin-right: 10%;
}

#contact-right-col {
    padding: 30px 100px 30px 30px;
}



/* == BOOTSTRAP IMAGE CAROUSEL (HOME PAGE) == */
/* re-enforce margins */
.carousel {
    margin: 10px 10px;
}

.carousel-item {
    height: 400px;
    width: 100%;
    background-color: #ffffff;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}

/* get rid of the numbers on the carousel indicator */
.carousel-indicators {
    color: #ffffff;
    list-style: none;
}

/* make the buttons the same size as the carousel rather than the entire page */
.carousel-control-prev, .carousel-control-next {
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 400px;
}

/* format captions on carousel images */
.image-caption {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* == GALLERY IMAGES == */
.gallery-img {
    width: 100%;
    transition: 400ms; /* allows a fade-in effect when style is changed in javascript */
}

#img-gallery {
    padding-top: 10px;
}

#img-gallery .row {
    margin-bottom: 10px;
}

.col-sm {
    text-align: center; /* will also center the image in the column, perfect for members page! */
}



/* == LOGIN FORM (HOME PAGE) == */
/* align form on the right */
#login-form {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    float: right;
}



/* == NEWS ARTICLES (HOME PAGE) */
/* container then a left and right column */
#home-text-container {
    display: flex;
}

#home-welcome-description {
    width: 50%;
    float: left;
    padding: 10px;
    margin-right: 10px;
}

#news-articles {
    padding: 10px;
    width: 50%;
}

/* container for all of the news articles (in a grid) */
.news-article-container {
    display: grid;
    gap: 10px;
}

/* style for individual news articles */
.news-article {
    height: 210px;
    border: 1px dashed rgb(112, 189, 234);
    border-radius: 10px;
}

/* make sure images are the right width and appear on the left of the article */
.news-article img {
    float: left;
    padding: 0px 10px;
    height: 100%;
    max-width: 210px;
    object-fit: scale-down;
}

.news-article h4 {
    padding-top: 10px;
}