/*
code editor lime color - rgb(143, 225, 67)
code editor pink color - rgb(244, 127, 230)
code editor red color - rgb(234, 112, 112)
code editor blue color - rgb(112, 189, 234)

main text color - #ffffff (white)
secondary text color - code editor lime color
background color - #000000 (black)
accent and interactive feature color - #4a4a4a (lighter grey)
main color - #1c1c1c (dark grey)

h1 text size - 36px
normal text size - 12px
*/

/* Text elements */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 10px;
    color: #ffffff;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    color: rgb(143, 225, 67);
}

#page-title {
    display: inline;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    padding: 10px 0px 0px 0px;
}

p {
    font-size: 18px;
}

/* Main page elements */
body {
    background-color: #000000;
}

header {
    background-color: #1c1c1c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin: 10px 10px;
}

main {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0px 10px 10px 10px;
}

footer {
    background-color: #1c1c1c;
    border-radius: 10px;
    margin: 10px 10px 0px 10px;
}

aside {
    background-color: #000000;
    border-radius: 10px;
    margin: 10px 10px 0px 10px;
}

/* Give elements with these classes specific styling */
.grey-background {
    background-color: #1c1c1c;
    border-radius: 10px;
}

/* code editor colors, used in span tags for changing text color */
.code-editor-lime {
    color: rgb(143, 225, 67);
}

.code-editor-pink {
    color: rgb(244, 127, 230);
}

.code-editor-red {
    color: rgb(234, 112, 112);
}

.code-editor-blue {
    color: rgb(112, 189, 234);
}

.code-editor-purple {
    color: rgb(145, 71, 201);
}

.code-editor-yellow {
    color: rgb(202, 241, 93);
}

/* Navigation bar */
nav {
    margin: 10px 10px;
}

nav li {
    border: 2px solid #000000;
    background-color: #1c1c1c;
    list-style-type: none;
    float: left;
    width: 15%;
    padding: 10px;
}

nav li a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

nav li:hover {
    background-color: #4a4a4a;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.active {
    background-color: #4a4a4a;
}

#logo {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
}

/* Events calendar */
table {
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
}

table td, table th {
    border: 2px solid #000000;
    color: #ffffff;
}

table tr {
    background-color: #1c1c1c;
}

table tr:nth-child(even) {
    background-color: #333333;
}

table tr:hover {
    background-color: #000000;
}

table th {
    background-color: #0d0d0d;
    color: rgb(143, 225, 67);
    text-align: center;
}

/* Contact form */
#contact-form {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    margin-left: 10px;
    border: 2px solid rgb(143, 225, 67);
    padding: 10px;
}

input {
    background: #333333;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-label {
    color: rgb(143, 225, 67);
}

/* Contact-us page where the page is split into two columns */
#left-col {
    width: 50%;
    float: left;
    padding: 10px;
    margin-right: 10%;
}

#right-col {
    padding: 30px 100px 30px 30px;
}

/* Image carousel on home page */
.carousel {
    margin: 10px 10px;
}

.carousel-item {
    height: 400px;
    width: 100%;
    background-color: #ffffff;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}

/* Get rid of the numbers on the carousel indicator */
.carousel-indicators {
    color: #ffffff;
    list-style: none;
}

/* Make the buttons the same size as the carousel rather than the entire page */
.carousel-control-prev, .carousel-control-next {
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 400px;
}

/* Allow captions on carousel images */
.image-caption {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gallery-img {
    width: 100%;
}

#img-gallery {
    padding-top: 10px;
}

#img-gallery .row {
    margin-bottom: 10px;
}

.col-sm {
    text-align: center; /* will also center the image in the column, perfect for members page! */
}

/* Login form on home page, so we can align it on the right */
#login-form {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    float: right;
}

/* News articles on home page */
#welcome-description {
    width: 50%;
    float: left;
    padding: 10px;
    margin-right: 10%;
}

.news-article-container {
    display: grid;
    gap: 5px;
}

.news-article {
    height: 100px;
    border: 1px dashed rgb(112, 189, 234);
    border-radius: 10px;
}

.news-article img {
    float: left;
    padding: 0px 10px;
    height: 100%;
}

.news-article h4 {
    padding-top: 10px;
}